
::-webkit-scrollbar {
    width: 7px;
    background-color: transparent; 
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,.05); 
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(255,255,255,.1)!important; 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.05); 
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,.2); 
}

::-webkit-scrollbar-corder {
    width: 0;
    height: 0;
}


#raw-html::-webkit-scrollbar {
    width: 14px;
    background-color: rgba(255,255,255,.0); 
}

#raw-html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 4px #3a3a3a, inset 0 0 0 8px #3d3d3d;
}
#raw-html::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 0 4px #3a3a3a, inset 0 0 0 8px rgba(255,255,255,0);
}

#raw-html::-webkit-scrollbar-thumb {
    background-color: transparent; 
    box-shadow: inset 0 0 0 4px #3a3a3a, inset 0 0 0 8px rgba(255,255,255,.01);
}

#raw-html::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,.3); 
}

body {
    background-color: #333;
    color: #aaa;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
}
footer {
    background-color: transparent!important;
    border: none!important;
    color: #aaa;
}
.wrap {
    padding: 0;
    margin-bottom: 100px;
}
.table {
    /*width: calc(100vw - 15px);*/
    width: 100%;
    margin: 0;
}
.table tbody {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 90.5vw;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    /*padding: 15px;*/
    border: none!important;
    padding: 0px!important;
}
.table > thead > tr > th {
    /*vertical-align: bottom;*/
    border-bottom: 1px solid #ddd;
}
.container {
    width: 100%;
    padding-bottom: 0!important;
}
.table tbody tr {
    padding: 0px!important;
    transition: .1s;
    display: inline-flex;
    min-width: 180px;
    /*min-width: 16vw;*/
    width: 180px;
    /*float: left;*/
    text-align: center;
    /*height: 180px;*/
    filter: grayscale(.3);
    /*margin-bottom: 1px;*/
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}
.table tbody tr:hover {
    /*filter: grayscale(0);*/
}
/*.table tbody tr.o {*/
.table tbody tr:hover .label, .click-rig.selected .label:first-of-type {
    /*height: 250px;*/
    background-color: #08c!important;
}
.table tbody tr > td {
    transition: .1s;
    overflow: hidden;
    padding-top: 0px!important;
}
.table tbody tr.o > td {
    padding-top: 40px;
}
.span-temp {
    font-size: 12px; 
    padding: 2px 0 2px 2px; 
    margin: 0 16px 5px 0;
    border-radius: 2px;
    word-break: none;
}
.span-ip {
    color: #aaa; 
    float: left; 
    width: 50%; 
    text-align: right; 
    position: relative; 
    top: 2px;
}
.span-hostname {
    float: left; 
    width: 50%;
}
#rig-first {
    margin: 0 0 120px;
    float: left;
}

/*.chart-mutual:hover {
    filter: grayscale(0) opacity(1);
}*/
.info-first {
    padding: 30px 0 0 60px;
}
#raw-html {
    width: calc(100vw - 27px);
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 70px 0 20px 20px;
    background-color: #3a3a3a;
    font-size: 12px;
    margin: -70px 0 0 -15px;
    box-sizing: content-box;
    /*opacity: .6;*/
}
/*#raw-html:hover {
    opacity: 1;
}*/
.raw-corner {
    position: absolute;
    right: 0;
    top: 300px;
    right: 35px;
    width: 150px;
    color: rgba(255,255,255,.3);
}
#count-sec {
    position: absolute;
}
.count-unit {
    margin-left: 14px;
}
.link-raw {
    color: rgba(255,255,255,.3);
    font-size: 14px;
    text-decoration: none!important;
    cursor: pointer;
}
.link-raw:hover, .link-raw:focus  {
    color: rgba(255,255,255,1);
}
.enable-switch {
    font-size: 27px;
    /*top: 5px;*/
    width: 36px;
    height: 16px;
    border-radius: 12px;
    background: #ccc;
    background: #d9534fd1;
    line-height: 21px;
    margin-left: 25px;
    color: #aaa;
    display: inline-block;
    cursor: pointer;
    transition: .3s left;
    position: relative;
    /*box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);*/
    /*box-shadow: inset 0 0 0 1px rgba(0,0,0,.03);*/
}
.enable-switch:before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: #333;
    border-radius: 50%;
    transition: .3s left;
    /*box-shadow: 0 0 0 1px rgba(0,0,0,.05);*/
    /*box-shadow: 0 0 0 1px rgba(0,0,0,.15);*/
    top: 2px;
    left: 3px;
}
.enable-switch.enable-on {
    background: #5cb85c;
}
.enable-switch.enable-on:before {
    left: 21px;
}
.enable-status {
    margin-bottom: 22px;
}



.enable-eres.enable-off, .enable-eres.enable-eres-mute {
    background: #555;
}
.enable-eres {
    height: 18px;
    min-width: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 1;
    cursor: pointer;
    border-radius: 2px;
    background: #555;
}
.enable-eres:before, .enable-eres.enable-on:before, .enable-eres.enable-off:before {
    color: #ddd;
    font-size: 13px;
    content: 'Connection';
    /*font-family: 'pt mono';*/
    line-height: 1.5;
    padding: 0 5px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.enable-eres.enable-on {
}
.enable-eres.enable-on:before {
    color: #ccb85c;
    /*color: #111;*/
    content: 'Params.';
    padding: 0 0 0 5px;
}
.enable-eres.enable-on:hover, .enable-eres.enable-on:hover:before {
    background-color: #ccb85c!important;
    color: #222;
}
.enable-eres.enable-off:before {
    color: #ddd;
    content: 'Processing...';
}
.enable-eres.enable-off.enable-canceled:before {
    content: 'Canceled';
}
.enable-eres.enable-eres-mute:before {
    content: 'No response';
    color: #ddd;
    /*font-size: 12px;*/
    padding: 0 5px;
}
.enable-eres.enable-on:not(.enable-eres-mute) {
    color: #ccb85c;
    box-shadow: 0 0 0 1px #ccb85c;
    background: transparent;
}
.enable-eres:before {
    background: transparent;
}



.enable-reboot.enable-off, .enable-reboot.enable-reboot-mute {
    background: #555;
}
.enable-reboot {
    height: 18px;
    min-width: 50px;
    position: absolute;
    right: 0;
    bottom: -42px;
    line-height: 1;
    cursor: pointer;
    border-radius: 2px;
    background: #555;
}
.enable-reboot:before, .enable-reboot.enable-on:before, .enable-reboot.enable-off:before {
    color: #ddd;
    font-size: 13px;
    content: 'Connection';
    /*font-family: 'pt mono';*/
    line-height: 1.5;
    padding: 0 5px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.enable-reboot.enable-on:before {
    color: #111;
    content: 'Reboot';
}
.enable-reboot.enable-off:before {
    color: #ddd;
    content: 'Cancel';
}
.enable-reboot.enable-off.enable-canceled:before {
    content: 'Canceled';
}
.enable-reboot.enable-reboot-mute:before {
    content: 'No response';
    color: #ddd;
    font-size: 12px;
    padding: 0 5px;
}
.enable-reboot.enable-on:not(.enable-reboot-mute) {
    background: #ccb85c;
}
.enable-reboot:before {
    background: transparent;
}




#act-config:before {
    position: absolute;
    right: 0;
    bottom: 35px;
    font-size: 13px;
    color: #ccb85c;
    cursor: pointer;
    padding: 4px 0 3px 5px;
    border-radius: 3px;
    line-height: 1;
    content: 'Get config.';
}
#act-config:hover:before {
    background-color: #ccb85c;
    color: #222;
}
#act-config.mute:before {
    content: 'Processing...';
}





.info-first {
    width: 25vw; 
    height: 160px; 
    margin-top: 5px;
    position: relative;
}
.chart-container {
    position: relative;
    /*top: -31px;*/
    height: 210px; 
    width: 70vw;
}
.no-response {
    width: 126px;
    overflow: hidden;
}
.chart-mutual {
    position: relative; 
    bottom: 0; 
    left: 0;
    height: 160px;
    top: 0; 
    width: calc(100vw + 70px); 
    margin-left: -35px;
    /*filter: grayscale(1) opacity(.5);*/
}
.link-raw > .glyphicon {
    top: 0; font-size: 12px
}
.navbar-inverse, .navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.separator {
    width: 100%;
    height: 30px;
}

.modal-backdrop.fade.in {
    background-color: #fff;
    opacity: 1;
}
.modal-content {
    box-shadow: none!important;
    border: none;
    padding: 45px;
    color: #000;
}
.modal-header {
    border: none!important;
    display: none;
}





@media(min-width:1020px) {
    #rig-first .chart-container {
        width: 50vw; 
    }
    .info-first {
        width: 45vw; 
        padding-left: 30px;
    }   
}
@media(min-width:1280px) {
    #rig-first .chart-container {
        width: 60vw; 
    }
    .info-first {
        width: 35vw; 
        padding-left: 30px;
    }
}
@media(min-width:1660px) {
    #rig-first .chart-container {
        width: 70vw; 
    }
    .info-first {
        width: 25vw; 
        padding-left: 30px;
    }
}

@media(max-width:1020px) {
    #rig-first .chart-container {
        width: 110vw; 
    }
    .info-first {
        width: 96vw; 
        padding-left: 0;
    }
    .table tbody tr {
        width: auto;
        min-width: 188px;
    }
    .table tbody {
        width: 100vw;
    }
}
@media(max-width:768px) {
    ::-webkit-scrollbar {
        width: 0!important;
        height: 0!important;
    }
    .wrap {
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
    }
    .chart-container {
        height: 160px; 
        width: calc(100vw + 70px);
        margin: 30px 0 0 -50px;
    }
    .chart-mutual {
        height: 160px;
        width: 120vw;
        margin-left: -40px;
    }
    .info-first {
        width: 90vw; 
        padding-left: 0;
        margin-top: 30px;
    }
    .no-response {
        width: 101px;
        overflow: hidden;
    }
    .table tbody tr {
        min-width: 45px;
        width: 45px;
        margin-bottom: 1px
    }
    .gpu-state {
        padding: .7em 0.7em .7em;
        min-width: 42px;
        width: 42px;
    }
    .label-rate {
        margin-right: 75vw;
    }
    .gpu-count, .gpu-rate, .no-response {
        display: none!important;
    }
    #rig-first {
        margin: 30px 0 120px;
    }
    #raw-html {
        width: calc(100vw - 20px);
        padding: 30px 15px 15px;
        height: 150px;
    }
    .raw-corner {
        width: 100%;
        background-color: #3A3A3A;
        padding: 10px 15px 10px;
        top: 195px;
        right: 0;
    }
    .wrap-info-corner {
        float: left;
    }
    .info-scrollable, .info-scrollable + br, .wrap-info-corner + br {
        display: none;
    }
    .wrap-link-corner {
        float: right;
    }
    .link-raw {
        font-size: 12px;
    }
    .table tbody {
        justify-content: center;
        width: 100%;
        margin: 0;
    }
}